{deps, [
        {jiffy,  "0.8.5", {git,  "https://github.com/davisp/jiffy", {tag, "0.8.5"}}},
        {ej,     ".*",    {git, "https://github.com/seth/ej", "master"}}
       ]}.

{post_hooks, [{compile, "joxa -o ebin --pa ebin --pa deps/ej/ebin --pa deps/jiffy/ebin ./src/snap.jxa"},
              {compile, "joxa -o ebin --pa ebin --pa deps/ej/ebin --pa deps/jiffy/ebin ./src/snap-util.jxa"}]}.
